.container {
  max-width: 100%;
}

footer {
  height: 100px;
  width: "100%"; 
}
#foot{
  position: absolute;
  bottom: 0;
}

@keyframes scrollAnimation {
  0% {
    transform: translateY(-25vh);
  }
  100% {
    transform: translateY(50vh);
  }
}

@keyframes strobeAnimation {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

.scrolling-text {
  color: white;
  text-align: center;
  position: relative;
  animation: scrollAnimation 5s linear infinite, strobeAnimation 4s infinite; 
}